%footer.footer
  = link_to '', class: 'footer__content' do
    = fa_icon 'home'
  = link_to '', class: 'footer__content' do
    = fa_icon 'edit'
  = link_to '', class: 'footer__content' do
    = fa_icon 'search'
  = link_to '', class: 'footer__content' do
    = fa_icon 'cog'