%header.header
  .header__box.clearfix
    .header__box__left
      = link_to 'GiantStep', '', class:'header-logo'
    .header__box__right
      .header-menu
        = fa_icon 'bars', class: 'header-menu__icon'
        %a.header-menu__close x
      .header-lists
        - if user_signed_in?
          = link_to '記録する', new_user_session_path, class: 'header-lists__link'
          = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'header-lists__link'
          = link_to 'マイページ', mypage_index_path, class: 'header-lists__link'
        - else
          = link_to 'ログイン', new_user_session_path, class: 'header-lists__link'
          = link_to '新規登録', signup_index_path, class: 'header-lists__link'
      


