.container
  .wrapper
    .accounts-wrapper
      .accounts-wrapper__box
        .accounts-wrapper__box__head
          %h2.accounts-head ログイン
        .accounts-wrapper__box__content
          = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class:"accounts-form"}) do |f|
            = render partial: "shared/error_messages", locals: { model: @user }
            .accounts-field
              = f.label :email, class: 'accounts-label'
              = f.email_field :email, autofocus: true, autocomplete: "email", class: 'accounts-input'
            .accounts-field
              = f.label :password, class: 'accounts-label'
              = f.password_field :password, autocomplete: "current-password", class: 'accounts-input'

            .accounts-actions
              = f.submit "ログイン", class: 'accounts-submit'

