= render 'shared/hidden'
  
.container
  .wrapper
    .mypage-contents
      .mypage-contents__head
        %h2.mypage-contents__head__text マイページ
      
      .mypage-contents__main.clearfix
        .mypage-contents__main__left
          .mypage-left

            .mypage-left__content.clearfix
              .mypage-left__content--left
                .cumulative-chart
                  %canvas#cumulative-radar.cumulative-chart__rader{style: 'height:100%; width: 100%;'}
              .mypage-left__content--right
                .mypage-interface
                  .mypage-interface__box
                    = link_to 'データ更新', statuses_path, class: "mypage-interface__box__recalc"
                .mypage-calendar
                  .mypage-calendar__box
                    .month-calendar
                      = month_calendar(attribute: :created_at, events: current_user.records) do |date|
                        = date.day

            .mypage-sheet
              .mypage-sheet__box
                %table.cumulative-sheet
                  %thead.cumulative-sheet__head
                    %tr.cumulative-sheet__head__row
                      %th.cumulative-sheet__head__row--content 合計
                      %th.cumulative-sheet__head__row--content 睡眠
                      %th.cumulative-sheet__head__row--content 運動
                      %th.cumulative-sheet__head__row--content 勉強
                  %tbody.cumulative-sheet__body
                    %tr.cumulative-sheet__body__row
                      %td.cumulative-sheet__body__row--content<
                        =Status.total_point(@status)
                        %span.point-unit pt.
                      %td.cumulative-sheet__body__row--content<
                        =@status.sleep
                        %span.point-unit pt.
                      %td.cumulative-sheet__body__row--content<
                        =@status.exercise
                        %span.point-unit pt.
                      %td.cumulative-sheet__body__row--content<
                        =@status.study
                        %span.point-unit pt.
                  %thead.cumulative-sheet__head
                    %tr.cumulative-sheet__head__row
                      %th.cumulative-sheet__head__row--content 食事
                      %th.cumulative-sheet__head__row--content 嗜好品対処
                      %th.cumulative-sheet__head__row--content その他目標
                      %th.cumulative-sheet__head__row--content ログイン日数
                  %tbody.cumulative-sheet__body
                    %tr.cumulative-sheet__body__row
                      %td.cumulative-sheet__body__row--content<
                        =@status.diet
                        %span.point-unit pt.
                      %td.cumulative-sheet__body__row--content<
                        =@status.habit
                        %span.point-unit pt.
                      %td.cumulative-sheet__body__row--content<
                        =@status.aim
                        %span.point-unit pt.
                      %td.cumulative-sheet__body__row--content<
                        %span=@status.login
                        %span.point-unit 日

        .mypage-contents__main__right
          = render 'shared/right_bar'


-# 以下、後ほどjs実装後に使う素材
        -# .mypage-contents__main__calendar
          -# .month-calendar
          -# = month_calendar do |date|
          -#   = date.day

