.container
  .wrapper
    .mypage-contents
      .mypage-contents__head
        %h2.mypage-contents__head__text 各種設定
      .mypage-contents__main.clearfix
        .mypage-contents__main__left
          .mypage-left
            .mypage-left__content
              - if flash[:notice]
                .flash-message
                  %p.flash-message__text=flash[:notice]
              .mypage-menu
                .mypage-menu__content
                  %h3.mypage-menu__content__head ◆ ユーザー情報関連 ◆
                  = link_to "・ユーザー情報を編集する", profile_edit_mypage_index_path, class:"mypage-menu__content__link"
                  = link_to '・習慣の採点基準をカスタマイズする', yardstick_mypage_index_path, class:"mypage-menu__content__link"
                .mypage-menu__content
                  %h3.mypage-menu__content__head ◆ その他 ◆
                  = link_to "・不具合を報告する", report_mypage_index_path, class: "mypage-menu__content__link"
                  = link_to "・管理者のポートフォリオへ(※外部サイト)", "https://hrtg-ymzk.herokuapp.com/", class: "mypage-menu__content__link"
        .mypage-contents__main__right
          = render 'shared/right_bar'
