.container
  .wrapper
    .single-contents
      .single-contents__head
        %h1.single-contents__head__text 基準編集
      .single-contents__main
        = form_for @yardstick, url: yardstick_update_mypage_index_path, method: :patch, html: {class: "yardstick-form"} do |f|
          = render partial: "shared/error_messages", locals: { model: @yardstick }
          .yardstick-field.top-field
            = f.label :sleep, class: "yardstick-field__label"
            .yardstick-field__textarea
              = f.text_area :sleep, class: "yardstick-field__textarea__area"
          .yardstick-field
            = f.label :study, class: "yardstick-field__label"
            .yardstick-field__textarea
              = f.text_area :study, class: "yardstick-field__textarea__area"
          .yardstick-field
            = f.label :exercise, class: "yardstick-field__label"
            .yardstick-field__textarea
              = f.text_area :exercise, class: "yardstick-field__textarea__area"
          .yardstick-field
            = f.label :diet, class: "yardstick-field__label"
            .yardstick-field__textarea
              = f.text_area :diet, class: "yardstick-field__textarea__area"
          .yardstick-field
            = f.label :habit, class: "yardstick-field__label"
            .yardstick-field__textarea
              = f.text_area :habit, class: "yardstick-field__textarea__area"
          .yardstick-field
            = f.label :aim, class: "yardstick-field__label"
            .yardstick-field__textarea
              = f.text_area :aim, class: "yardstick-field__textarea__area"

          .yardstick-submit
            = f.submit "登録", class: "yardstick-submit__button"